---
# MySQL role tasks

- name: Install MySQL server
  ansible.builtin.apt:
    name:
      - mysql-server
      - python3-pymysql
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Start MySQL service
  ansible.builtin.service:
    name: mysql
    state: started
    enabled: true

- name: Secure MySQL installation
  community.mysql.mysql_user:
    name: root
    password: "{{ mysql_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
    state: present

- name: Remove anonymous MySQL users
  community.mysql.mysql_user:
    name: ''
    host_all: true
    state: absent
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Remove MySQL test database
  community.mysql.mysql_db:
    name: test
    state: absent
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Configure MySQL
  ansible.builtin.template:
    src: my.cnf.j2
    dest: /etc/mysql/mysql.conf.d/custom.cnf
    owner: root
    group: root
    mode: '0644'
  notify: Restart mysql

- name: Create backup script
  ansible.builtin.template:
    src: mysql-backup.sh.j2
    dest: /usr/local/bin/mysql-backup.sh
    owner: root
    group: root
    mode: '0750'
