[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address=:{{ node_exporter_port }} \
    --collector.filesystem.mount-points-exclude="^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)" \
    --collector.netclass.ignored-devices="^(veth.*|docker.*|br-.*)$"

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
