---
# Docker Installation Playbook
# Description: Install Docker Engine and Docker Compose
# Tested on: Ubuntu 20.04/22.04, Debian 11, CentOS 8, RHEL 9
# Author: SecDevOpsPro

- name: Install Docker and Docker Compose
  hosts: all
  become: true
  gather_facts: true

  vars:
    docker_edition: ce
    docker_compose_version: "2.24.0"
    docker_users:
      - "{{ ansible_user }}"
    docker_daemon_options:
      storage-driver: overlay2
      log-driver: json-file
      log-opts:
        max-size: "100m"
        max-file: "3"

  pre_tasks:
    - name: Check if running on supported OS
      ansible.builtin.fail:
        msg: "This playbook only supports Ubuntu, Debian, CentOS, and RHEL"
      when: ansible_os_family not in ['Debian', 'RedHat']

  roles:
    - common
    - docker

  tasks:
    - name: Install Docker SDK for Python
      ansible.builtin.pip:
        name:
          - docker
          - docker-compose
        state: present
        executable: pip3

    - name: Add users to docker group
      ansible.builtin.user:
        name: "{{ item }}"
        groups: docker
        append: true
      loop: "{{ docker_users }}"
      when: docker_users is defined

    - name: Create Docker daemon configuration
      ansible.builtin.copy:
        content: "{{ docker_daemon_options | to_nice_json }}"
        dest: /etc/docker/daemon.json
        owner: root
        group: root
        mode: '0644'
      notify: Restart docker

    - name: Enable Docker service
      ansible.builtin.systemd:
        name: docker
        enabled: true
        state: started

    - name: Install Docker Compose standalone
      ansible.builtin.get_url:
        url: "https://github.com/docker/compose/releases/download/v{{ docker_compose_version }}/docker-compose-linux-{{ ansible_architecture }}"
        dest: /usr/local/bin/docker-compose
        mode: '0755'
        owner: root
        group: root

    - name: Create symbolic link for docker-compose
      ansible.builtin.file:
        src: /usr/local/bin/docker-compose
        dest: /usr/bin/docker-compose
        state: link

  handlers:
    - name: Restart docker
      ansible.builtin.service:
        name: docker
        state: restarted

  post_tasks:
    - name: Verify Docker installation
      ansible.builtin.command: docker --version
      register: docker_version
      changed_when: false

    - name: Verify Docker Compose installation
      ansible.builtin.command: docker-compose --version
      register: compose_version
      changed_when: false

    - name: Display versions
      ansible.builtin.debug:
        msg:
          - "{{ docker_version.stdout }}"
          - "{{ compose_version.stdout }}"

    - name: Test Docker with hello-world
      community.docker.docker_container:
        name: hello-world-test
        image: hello-world
        state: started
        detach: false
        cleanup: true
      register: hello_world
      failed_when: false

    - name: Show Docker test result
      ansible.builtin.debug:
        msg: "Docker is working correctly!"
      when: hello_world is succeeded
