---
# MySQL 8.0 Setup Playbook
# Description: Install MySQL 8.0 with secure defaults and replication support
# Tested on: Ubuntu 20.04/22.04, Debian 11
# Author: SecDevOpsPro

- name: Setup MySQL 8.0 with secure defaults
  hosts: db_servers
  become: true
  gather_facts: true

  vars:
    mysql_version: "8.0"
    mysql_root_password: "{{ vault_mysql_root_password | default('ChangeMe123!') }}"
    mysql_bind_address: "0.0.0.0"
    mysql_port: 3306
    mysql_max_connections: 200
    mysql_innodb_buffer_pool_size: "2G"
    mysql_replication_enabled: true

  pre_tasks:
    - name: Check if Ansible Vault is being used
      fail:
        msg: "Please use Ansible Vault for mysql_root_password. Run: ansible-vault encrypt_string 'your_password' --name 'vault_mysql_root_password'"
      when: vault_mysql_root_password is not defined and mysql_root_password == 'ChangeMe123!'

  roles:
    - common
    - mysql
    - security

  tasks:
    - name: Create application databases
      mysql_db:
        name: "{{ item.name }}"
        encoding: "{{ item.encoding | default('utf8mb4') }}"
        collation: "{{ item.collation | default('utf8mb4_unicode_ci') }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock
      loop: "{{ mysql_databases | default([]) }}"
      no_log: false

    - name: Create MySQL users
      mysql_user:
        name: "{{ item.name }}"
        password: "{{ item.password }}"
        priv: "{{ item.priv }}"
        host: "{{ item.host | default('localhost') }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock
      loop: "{{ mysql_users | default([]) }}"
      no_log: true

    - name: Configure MySQL replication (master)
      include_tasks: tasks/mysql-replication-master.yml
      when:
        - mysql_replication_enabled
        - mysql_replication_role == 'master'

    - name: Configure MySQL replication (slave)
      include_tasks: tasks/mysql-replication-slave.yml
      when:
        - mysql_replication_enabled
        - mysql_replication_role == 'slave'

    - name: Setup automated backups
      cron:
        name: "MySQL daily backup"
        minute: "0"
        hour: "2"
        job: "/usr/local/bin/mysql-backup.sh >> /var/log/mysql-backup.log 2>&1"
        state: present
      when: mysql_backup_enabled | default(true)

  post_tasks:
    - name: Verify MySQL is running
      service:
        name: mysql
        state: started
        enabled: yes

    - name: Display MySQL version
      command: mysql --version
      register: mysql_version_output
      changed_when: false

    - name: Show MySQL version
      debug:
        var: mysql_version_output.stdout
