---
- name: Restart security services
  ansible.builtin.service:
    name: "{{ item }}"
    state: restarted
  loop:
    - fail2ban
    - ufw

- name: Reload fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: reloaded

- name: Reload ufw
  ansible.builtin.command: ufw reload
  changed_when: true
